$foreground: #e2e1ec;
$background: rgba(0,0,0,0.5);
$background_transparent : #12131a;

$selected: #5b1b00;
$primary: #b8c4ff;
$secondary: #b9c4fb;
$tertiary: #ffb59a;
$primary_container: #2147c5;

$outline: #8e90a0;
$source: #2147c5;
