@import "styles/colors-eww.scss";
@import "styles/topbar.scss";

* {
  font-family: Iosevka;
  font-style: italic;
  color: $foreground;
}

.bar {
  background: transparent;
}

.workspace-button {
  background-color: transparent;
  box-shadow: none;
}

.transparent-box {
  background: transparent;
}

.workspace-bar {
  background: $background;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.dashboard {
  background: $background;
  border-top-left-radius: 50px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 50px;
}

.dashboard-time {
  font-size: 50px;
  color: $foreground;
}

.dashboard-time-second {
  font-size: 20px;
}

.workspace-unselected {
  margin: 0px;
  font-size: 15px;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
}

.workspace-selected {
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  margin: 0px;
  color: $source;
  font-size: 12px;
}

.bar-image {
  margin-right: -7px;
  margin-top: 15px;
}

.dashboard .box-outline-right {
  border-right: 1px solid $outline;
}

.dashboard .box-outline-top {
  border-top: 1px solid $outline;
}

.dashboard .box-outline-bottom {
  border-bottom: 1px solid $outline;
}

.dashboard .song-title {
  font-size: 25px
}

.dashboard .media-box {
  //margin-top: 35px;
  background-size: 100%;
  background-repeat: no-repeat;

  label {
    margin-top: 15px;
  }
}

.dashboard .cava {
  color: $source;
}

.spotify-logo {
  margin-left: 25px;
  margin-top: 20px;
}

.color-source {
  color: $source;
}