$foreground: #ecdfe5;
$background: rgba(0,0,0,0.5);
$background_transparent : #181216;

$selected: #4c2619;
$primary: #f3b3e4;
$secondary: #dbbed1;
$tertiary: #f5b9a5;
$primary_container: #66355f;

$outline: #9a8d95;
$source: #df3ed2;
