$foreground: #f0dfd8;
$background: rgba(0,0,0,0.5);
$background_transparent : #1a120e;

$selected: #353107;
$primary: #ffb690;
$secondary: #e6beab;
$tertiary: #cfc890;
$primary_container: #703715;

$outline: #a08d84;
$source: #a2592f;
