$foreground: #f0dedf;
$background: rgba(0,0,0,0.5);
$background_transparent : #1a1112;

$selected: #432c06;
$primary: #ffb2b7;
$secondary: #e6bdbe;
$tertiary: #e7c08e;
$primary_container: #72333a;

$outline: #9f8c8d;
$source: #41010f;
