.icon {
  font-size: 28px;
}

@keyframes colorChange {
  10% {
    background: linear-gradient(to bottom, $background 90%, $source 100%);
    /* Back to Red */
  }
}

.topbar_laptop,
.topbar_extern {
  background: linear-gradient(to bottom, $background 70%, $source 100%);
  /* animation: colorChange 3s infinite; */

  .boxleft {
    margin-left: 20px;

    .icon {
      color: $source
    }

    .hyprlogo {
      margin-left: -25px;
    }

    .workspace {
      margin-left: -20px;
    }
  }

  //box right
  .boxright {
    margin-right: 20px;

    .compbox {
      background: $background_transparent;
      padding: 10px;
    }

    .cava {
      color: $source;
      text-shadow: 0 0 5px $source, 0 0 5px $source;
    }

    .battery-warning {
      color: yellow;
    }

    .battery-critical {
      color: red;
    }

    .battery-charging {
      color: green;
    }

    .hyprsunset_button {
      all: unset;
      padding: 0px 10px;
      background: none;
    }

    .hyprsunset_button_active {
      padding: 0px 10px;
      background: $source;
    }
  }
}

.artistlyrics_laptop,
.artistlyrics_extern {
  background: transparent;

  label {
    color: $foreground;
    font-size: 20px;
  }
}